* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
body, html
  {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    margin-top: 0;
    padding: 0;
    background-color: black;
    color: #6D6B6A;
  }
footer
  {
      background-color:gray;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 30px;
  }
#emailOK
  {
    color: red;
  }
.copy p
  {
    color: white;
    float: right;
    width: 200px;
  }

.navbar
    {
      background-color: gray;
        list-style:none;
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        border-radius: 5px;
        height: 37px;
    }

ul, li
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

  			list-style:none;
        margin: 0;
        padding: 0;

      }
.logo
    {
        float:left;
        height: 35px;
        width: 35px;
        padding: 0;
        margin: 0;
    }
a
    {
        float: left;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }
a:hover
    {
        background-color: black;
          border-radius: 5px;
          -webkit-transition: all 300ms;
          transition: all 300ms;
    }
a:focus
    {
        background-color: blue;
    }
button
  {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
button, input, textarea ,select
  {
    font-family: inherit;
    color: black;
  }
h2, h1, h3, h4, h5, h6
  {
    text-transform: uppercase;
  }
.txt-centro
  {
    text-align: center;
    margin-bottom: 30px;
  }
.bg-grey
  {
    background-color: gray;
    border-radius: 5px;
  }
.cont-fluid
  {
    padding: 15px 20px;

  }
.cont-fluid:after, .cont-fluid:before, .row:after, .row:before, .form-group:after, .form-group-:before
    {
      display: table;
      content: " ";
    }
:after, :before
    {
      box-sizing: border-box;
    }
.row:after,.cont-fluid:after
  {
    clear: both;
  }
.row
  {
    margin-left: -15px;
  }

.form-group
  {
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 5px;
  }
select
  {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    background-color: gray;
  }
.form-control
  {
    display: block;
    width: 100%;
    height: 34px;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
textarea.form-control
  {
    height: auto;
  }
.carousel
    {
      position: relative;
    }
  .carousel-indicators
    {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
.slide
  {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
.file
  {
    border-radius: 12px;
    text-align: center;

  }
.btn-right
  {
    float: right!important;
    border-radius: 12px;
  }
.titulo
  {
      text-align: center;
      margin-top: 60px;
  }

@media only screen and (min-width:620px)
{
    /* For mobile phones: */
        .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-12
          {
            float: left;

            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
          }
        .col-sm-4
          {
            width: 33.33333333%;
          }
        .col-sm-7
          {
            width: 58.33333333%;
          }
        .col-sm-8
          {
            width: 66.66666667%;
          }
        .col-sm-6
          {
            width: 50%;
          }
        .col-sm-5
          {
            width: 41.66666667%;
          }
          .col-sm-12
          {
            width: 100%;
          }
      /*  .menu
          {
            float: right;
        		margin-top: 0px;
        		width: 100%;
        		background: #2B2B2B;
        		overflow: hidden;
        		height: 0px;
      		  -webkit-transition: all 300ms;
      		  transition: all 300ms;
          }
        .menu ul
          {
        		-webkit-box-orient: vertical;
        		-webkit-box-direction: normal;
        		-ms-flex-direction: column;
        		flex-direction: column;
        		width: 100%;
      	  }

      	.menu li
          {
        		margin:0px;
        	}

      	.menu li a
          {
        		display: block;
        		padding: 10px;
          }*/
}
input
  {
        background-color: gray;

  }
textarea
  {
        background-color: gray;

  }


::placeholder{color: #555;}
